body{
    font-family: Arial, san-serif;
    background-color: rgb(212, 209, 209);
}
h1{
    color: rgb(150, 77, 219);
}
form{
    background-color: rgb(120, 239, 120);
    text-align: center;
    max-width: 350px;
    margin: auto;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgb(90, 89, 89);
}

#textbox{
    width: 50%;
    text-align: center;
    font-size: 2em;
    border: 2px solid rgb(90, 89, 89);
    border-radius: 4px;
    margin-bottom: 15px;
}

button{
    margin-top: 15px;
    background-color: rgb(113, 180, 12);
    color: whitesmoke;
    font-size: 1.5em;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}
button:hover{
    background-color: rgb(57, 93, 3);
}
#result{
    font-size: 1.7em;
    font-weight: bold;
}